<hostlist>
	<host name="www.lemonde.fr" group="lemonde">
		<rrd type="HttpResponseTimeRrd">
			<arg type="URL" value="http://www.lemonde.fr"/>
		</rrd>
	</host>
	<host name="aolfr-sn01.fr.office.aol.com">
		<snmp community="public" version="1" />
		<rrd type="ProcessStatus" />
		<rrd type="VMSolaris" />
	</host>
	<host name="re-qa.fr.office.aol.com">
		<rrd type="Oracle">
			<arg type="String" value="CPSRE"/>
			<arg type="String" value="system"/>
			<arg type="String" value="manager"/>
		</rrd>
	</host>
	<host name="pt1.fr.office.aol.com" group="conso+">
		<snmp community="public" port="161" version="1" />
		<rrd type="DiskIo">
			<arg type="java.lang.String" value="md32"/>
		</rrd>
	</host>
	
	<host name="widget.aol-fr.net">
		<rrd type="CpuLoad" />
		<snmp community="SearCHcOM" version="2" />
		<rrd type="ApacheStatus">
			<arg type="URL" value="http://widget/" />
		</rrd>
		<rrd type="Sybase">
			<arg type="Integer" value="4100"/>
			<arg type="String" value="AOLSEARCH_QA"/>
			<arg type="String" value="aolsearchqa_dbo"/>
			<arg type="String" value="aolsearchqa-dbo"/>
		</rrd>
		<rrd type="MemLinux" />
		<rrd type="SwapMunins" />
		<rrd type="IcmpSnmp" />
		<rrd type="IfLinux">
			<arg type="String" value="eth0"/>
		</rrd>
		<rrd type="IfLinuxMunins">
			<arg type="String" value="eth0"/>
		</rrd>
		<rrd type="IfLinux">
			<arg type="String" value="lo"/>
		</rrd>
		<rrd type="CpuLoad"/>
		<rrd type="CpuTime"/>
		<rrd type="CpuLinuxMunins"/>
		<rrd type="TcpConnection"/>
		<rrd type="UdpSnmp"/>
		<rrd type="IpSnmp"/>
		<rrd type="DiskIo">
			<arg type="String" value="sda3"/>
		</rrd>
		<rrd type="DiskIo">
			<arg type="String" value="sda2"/>
		</rrd>
		<rrd type="ProcessInfo">
			<arg type="String" value="httpd"/>
		</rrd>
		<rrd type="PartitionSpace">
			<arg type="String" value="/"/>
		</rrd>
		<rrd type="Squid">
			<snmp community="public" version="1" port="3401" />
		</rrd>
	</host>
</hostlist>