
#The path to the application server root
#appserv.home = 

#If your application server is Glassfish
#appserv.home = $GLASSFISH_HOME
#appserv.servlet-api = ${appserv.home}/lib
#appserv.jsp-api = ${appserv.home}/lib

#If your application serve is Tomcat 5.5
#appserv.servlet-api = ${appserv.home}/common/lib
#appserv.jsp-api = ${appserv.servlet-api}

#If your application serve is Tomcat 6
#appserv.servlet-api = ${appserv.home}/lib
#appserv.jsp-api = ${appserv.servlet-api}

#If your application serve is Resin
#appserv.servlet-api =  ${appserv.home}/lib
#appserv.jsp-api = ${appserv.servlet-api}

#If your application serve is jboss
#appserv.servlet-api = ${appserv.home}/server/default/lib
#appserv.jsp-api = ${appserv.servlet-api}

#If your application serve is jetty
#appserv.servlet-api = ${appserv.home}/lib
#appserv.jsp-api = ${appserv.servlet-api}/jsp-2.1

#JAI home on Gentoo
#jai.home=/usr/share/sun-jai-bin/lib

#JAI home on solaris 10
#jai.home=/usr/jdk/packages/jai/lib/ext

#JAI home on Mac OS
#jai.home=/System/Library/Java/Extensions
