<log4j:configuration debug="true"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="bidule" threshold="all"
		class="org.apache.log4j.net.SMTPAppender">
		<param name="from" value="root@localhost" />
		<param name="subject" value="Threshold reached" />
		<param name="SMTPHost" value="localhost" />
		<param name="Name" value="Jrds Thresold logger" />
		<param name="To" value="Destination" />
		<layout class="org.apache.log4j.SimpleLayout" />
	</appender>
	<logger name="bidule">
		<appender-ref ref="bidule" />
	</logger>
</log4j:configuration>