<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>jrds</display-name>
  <listener>
    <listener-class>jrds.StartListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Last</servlet-name>
    <servlet-class>jrds.webapp.Last</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Graph</servlet-name>
    <servlet-class>jrds.webapp.Graph</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GraphList</servlet-name>
    <servlet-class>jrds.webapp.GraphList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>jrds.webapp.Download</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reload</servlet-name>
    <servlet-class>jrds.webapp.ReloadHostList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>probesummary</servlet-name>
    <servlet-class>jrds.webapp.ProbeSummary</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>probedetails</servlet-name>
    <servlet-class>jrds.webapp.ProbeDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>whichlibs</servlet-name>
    <servlet-class>jrds.webapp.WhichLibs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Last</servlet-name>
    <url-pattern>/lastvalues</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Graph</servlet-name>
    <url-pattern>/graph</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GraphList</servlet-name>
    <url-pattern>/graphlist/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reload</servlet-name>
    <url-pattern>/reload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>probesummary</servlet-name>
    <url-pattern>/summary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>probedetails</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>whichlibs</servlet-name>
    <url-pattern>/wichlibs</url-pattern>
  </servlet-mapping>
  <taglib>
    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
    <taglib-location>/WEB-INF/c.tld</taglib-location>
  </taglib>
</web-app>