<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>jrds</display-name>
	<listener>
		<listener-class>jrds.webapp.StartListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
	<servlet>
		<servlet-name>CheckValues</servlet-name>
		<servlet-class>jrds.webapp.CheckValues</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Graph</servlet-name>
		<servlet-class>jrds.webapp.Graph</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>jrds.webapp.Download</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reload</servlet-name>
		<servlet-class>jrds.webapp.ReloadHostList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>probesummary</servlet-name>
		<servlet-class>jrds.webapp.ProbeSummary</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>probedetails</servlet-name>
		<servlet-class>jrds.webapp.JSonDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>whichlibs</servlet-name>
		<servlet-class>jrds.webapp.WhichLibs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>status</servlet-name>
		<servlet-class>jrds.webapp.Status</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>discover</servlet-name>
		<display-name>discover</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.Discover</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonTree</servlet-name>
		<display-name>JSonTree</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.JSonTree</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonGraph</servlet-name>
		<display-name>JSonGraph</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.JSonGraph</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonPeriod</servlet-name>
		<display-name>JSonPeriod</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.JSonPeriod</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonQueryParams</servlet-name>
		<display-name>JSonQueryParams</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.JSonQueryParams</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cmd</servlet-name>
		<display-name>Cmd</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.Cmd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XmlRpcServlet</servlet-name>
		<servlet-class>jrds.webapp.rpc.JrdsXmlRpcServlet</servlet-class>
		<init-param>
			<param-name>enabledForExtensions</param-name>
			<param-value>true</param-value>
			<description>
				Sets, whether the servlet supports vendor extensions for
				XML-RPC.
          </description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JSonPack</servlet-name>
		<display-name>JSonPack</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.JSonPack</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upload</servlet-name>
		<display-name>upload</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDiscoverHtmlCode</servlet-name>
		<display-name>GetDiscoverHtmlCode</display-name>
		<description></description>
		<servlet-class>
			jrds.webapp.GetDiscoverHtmlCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckValues</servlet-name>
		<url-pattern>/values/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Graph</servlet-name>
		<url-pattern>/graph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Graph</servlet-name>
		<url-pattern>/graph/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reload</servlet-name>
		<url-pattern>/reload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>probesummary</servlet-name>
		<url-pattern>/summary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>probedetails</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>whichlibs</servlet-name>
		<url-pattern>/whichlibs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>discover</servlet-name>
		<url-pattern>/discover</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonTree</servlet-name>
		<url-pattern>/jsontree</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonGraph</servlet-name>
		<url-pattern>/jsongraph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonPeriod</servlet-name>
		<url-pattern>/jsonperiod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonQueryParams</servlet-name>
		<url-pattern>/queryparams</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cmd</servlet-name>
		<url-pattern>/cmd/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlRpcServlet</servlet-name>
		<url-pattern>/xmlrpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlRpcServlet</servlet-name>
		<url-pattern>/xmlrpc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonPack</servlet-name>
		<url-pattern>/jsonpack/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDiscoverHtmlCode</servlet-name>
		<url-pattern>/discoverhtml</url-pattern>
	</servlet-mapping>
</web-app>